In [7]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sn

In [27]:
df = pd.read_csv('../data/Liste cinémas 2024.csv', sep=';', encoding='cp1252')
# df.describe
# df.info
# df.isna().sum()
df.columns = ['Liste_etablissements_actifs', 'Nom_cinema', 'a_supprimer', 'a_supprimer_deux', 'code_postal', 'commune', 'a_supprimer_trois', 'a_supprimer_quatre', 'a_supprimer_cinq']
df_clean = df[['Nom_cinema', 'code_postal', 'commune']]
df_clean = df_clean.dropna()
df_clean

                           Nom_cinema code_postal                  commune
2                             NomEtab      DEPCOM                  COMMUNE
3                       UGC NORMANDIE       75108  Paris 8e Arrondissement
4                              BALZAC       75108  Paris 8e Arrondissement
5                     ELYSEES LINCOLN       75108  Paris 8e Arrondissement
6                           UGC OPERA       75109  Paris 9e Arrondissement
...                               ...         ...                      ...
2051                        CAROUSSEL       55545                   Verdun
2052                           CLUB 6       70550                   Vesoul
2053                          L'ARCHE       54580                Villerupt
2054                         ALHAMBRA       88516                   Vittel
2055  MA JESTIC - ESPACE DES LUMIERES       70550                   Vesoul

[2054 rows x 3 columns]